<div nm="Customers" class="w-100">
  <div data-component="title1" class="row page-titles mx-0">
    <div class="col-6 align-self-center">
      <h3 class="text-themecolor">Customers</h3>
    </div>
    <div data-container="" class="col-6 align-self-center text-right ">
      <button data-component="button" type="button" class="btn btn-primary" nm="newCustomer" action-type="dialogView" action-target="NewCustomerForm">New Customer</button>
    </div>
  </div>
  <div data-wrapper="table" class="table-responsive">
    <div class="card">
      <div data-container="" class="card-body">
        <table data-component="table" class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Primary Contact</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr data-table-row="">
              <td nm="id"></td>
              <td nm="name"></td>
              <td nm="primaryContact"></td>
              <td nm="phone"></td>
              <td nm="Email"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
