<div nm="Dashboard" class="w-100">
  <div data-component="title1" class="row page-titles mx-0">
    <div class="col-6 align-self-center">
      <h3 class="text-themecolor">Dashboard</h3>
    </div>
    <div data-container="" class="col-6 align-self-center text-right ">
      <button data-component="button" type="button" class="btn btn-primary" nm="newCustomer" action-type="dialogView" action-target="NewCustomerForm">New Customer</button>
      <button data-component="button" type="button" class="btn btn-primary" nm="newJob" action-type="dialogView" action-target="NewJobForm">New Job</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3>86%</h3>
              <h6 class="card-subtitle">Total Product</h6>
            </div>
            <div class="col-12">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3>40%</h3>
              <h6 class="card-subtitle">Pending Product</h6>
            </div>
            <div class="col-12">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 40%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3>56%</h3>
              <h6 class="card-subtitle">Product A</h6>
            </div>
            <div class="col-12">
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 56%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h3>26%</h3>
              <h6 class="card-subtitle">Product B</h6>
            </div>
            <div class="col-12">
              <div class="progress">
                <div class="progress-bar bg-inverse" role="progressbar" style="width: 26%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row p-t-10 p-b-10">
            <div class="col p-r-0">
              <h1 class="font-light">86</h1>
              <h6 class="text-muted">New Clients</h6>
            </div>
            <div class="col text-right align-self-center">
              <div data-label="20%" class="css-bar m-b-0 css-bar-primary css-bar-20">
                <i class="mdi mdi-account-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row p-t-10 p-b-10">
            <div class="col p-r-0">
              <h1 class="font-light">248</h1>
              <h6 class="text-muted">All Projects</h6>
            </div>
            <div class="col text-right align-self-center">
              <div data-label="30%" class="css-bar m-b-0 css-bar-danger css-bar-20">
                <i class="mdi mdi-briefcase-check"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row p-t-10 p-b-10">
            <div class="col p-r-0">
              <h1 class="font-light">352</h1>
              <h6 class="text-muted">New Items</h6>
            </div>
            <div class="col text-right align-self-center">
              <div data-label="40%" class="css-bar m-b-0 css-bar-warning css-bar-40">
                <i class="mdi mdi-star-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row p-t-10 p-b-10">
            <div class="col p-r-0">
              <h1 class="font-light">159</h1>
              <h6 class="text-muted">Invoices</h6>
            </div>
            <div class="col text-right align-self-center">
              <div data-label="60%" class="css-bar m-b-0 css-bar-info css-bar-60">
                <i class="mdi mdi-receipt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
