<div nm="DatesForm" class="w-100">
  <div data-wrapper="form" class="row">
    <div class="col-12">
      <div class="card">
        <div data-container="" class="card-body">
          <form data-component="form">
            <h4 data-component="formtitle" class="card-title mb-4">Dates</h4>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Open Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="openDate">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Draft Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="dateDraft">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Agreement Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="dateAgreement">
                </div>
              </div>
            </div>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Signing Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="dateSigned">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Plant Sent Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="datePlanSent">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Graphics Sent Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="dateGraphicsSent">
                </div>
              </div>
            </div>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Approval Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="dateApproved">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Manufature Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="manufactureDate">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Week of Delivery</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="deliveryWeek">
                </div>
              </div>
            </div>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Requested Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="reqDateTime">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Scheduled Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="scheduledDate">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Invoice Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="invoiceDate">
                </div>
              </div>
            </div>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Shipping Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="shipDate">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Completion Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="completionDate">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="date" class="form-group">
                  <label data-label="" class="">Cancellation Date</label>
                  <input data-field="" type="text" class="form-control flatpickr-input" placeholder="Click to pick a date" nm="cancelDate">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
