<div nm="FormSample" class="m-5" style="width: 400px;">
  <form data-component="form">
    <div data-component="datetime" class="form-group">
      <label data-label="" class="">Date Of Renewal</label>
      <input data-field="" type="text" class="form-control" nm="dateOfRenewal">
    </div>
    <div class="form-row" data-component="form-row">
      <div class="col trillo-col" data-component="col">
        <div data-component="text" class="form-group">
          <label data-label="" class="">Policy Number</label>
          <input data-field="" type="text" class="form-control" nm="policyNumber">
        </div>
      </div>
      <div class="col trillo-col" data-component="col">
        <div data-component="text" class="form-group">
          <label data-label="" class="">Policy Status</label>
          <input data-field="" type="text" class="form-control" nm="policyStatus">
        </div>
      </div>
    </div>
    <div data-component="text" class="form-group">
      <label data-label="" class="">policy Title</label>
      <input data-field="" type="text" class="form-control" nm="policyTitle">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="" class="">date Of Issue</label>
      <input data-field="" type="text" class="form-control" nm="dateOfIssue">
    </div>
    <divider></divider>
    <div data-component="text" class="form-group">
      <label data-label="" class="">contact Person Name</label>
      <input data-field="" type="text" class="form-control" nm="contactPersonName">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="" class="">contact Person Phone</label>
      <input data-field="" type="text" class="form-control" nm="contactPersonPhone">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="" class="">contact Person Email</label>
      <input data-field="" type="text" class="form-control" nm="contactPersonEmail">
    </div>
    <div>
      <button data-component="button" type="button" class="btn btn-primary" nm="ok">OK</button>
      <button data-component="button" type="button" class="btn btn-primary" nm="cancel">Cancel</button>
    </div>
  </form>
</div>
