<div nm="JobDetail" class="w-100">
  <div nm="JobSummary" class="w-100" data-reference="JobSummary" data-component="view"></div>
  <div class="row trillo-row" data-component="row">
    <div class="col trillo-col" data-component="col">
      <div nm="Address" class="w-100" data-reference="Address" data-component="view"></div>
    </div>
    <div class="col trillo-col" data-component="col">
      <div nm="ShippingAddress" class="w-100" data-reference="ShippingAddress" data-component="view"></div>
    </div>
  </div>
  <div nm="DatesForm" class="w-100" data-reference="DatesForm" data-component="view"></div>
</div>
