<div nm="JobSummary" class="w-100">
  <div data-wrapper="form" class="row">
    <div class="col-12">
      <div class="card">
        <div data-container="" class="card-body">
          <form data-component="form">
            <h4 data-component="formtitle" class="card-title mb-4">Summary</h4>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="text" class="form-group">
                  <label data-label="" class="">Job Number</label>
                  <input data-field="" type="text" class="form-control" nm="jobNumber">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="text" class="form-group">
                  <label data-label="" class="">Model</label>
                  <input data-field="" type="text" class="form-control" nm="model">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="text" class="form-group">
                  <label data-label="" class="">Status</label>
                  <input data-field="" type="text" class="form-control" nm="status1">
                </div>
              </div>
            </div>
            <div data-component="text" class="form-group">
              <label data-label="" class="">Description</label>
              <input data-field="" type="text" class="form-control" nm="name">
            </div>
            <div data-component="text" class="form-group">
              <label data-label="" class="">Customer</label>
              <input data-field="" type="text" class="form-control" nm="customerName">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
