<nav class="sidebar-nav" data-group="nav-metis" nm="mainSidebar">
  <ul data-component="nav-metis">
    <li class="">
      <a class="waves-effect waves-dark" href="#" aria-expanded="false" nm="Dashboard" action-type="view" action-view-name="Dashboard" action-trigger="/Dashboard">
        <i class="mdi mdi-view-dashboard"></i>
        <span class="hide-menu">Dashboard</span>
      </a>
    </li>
    <li class="">
      <a class="waves-effect waves-dark" href="#" aria-expanded="false" nm="Customers" action-type="view" action-view-name="Customers" action-trigger="/Customers">
        <i class="mdi mdi-account-multiple"></i>
        <span class="hide-menu">Customers</span>
      </a>
    </li>
    <li class="">
      <a class="waves-effect waves-dark" href="#" aria-expanded="false" nm="Contacts" action-type="view" action-view-name="Contacts" action-trigger="/Contacts">
        <i class="mdi mdi-account-location"></i>
        <span class="hide-menu">Contacts</span>
      </a>
    </li>
    <li class="">
      <a class="waves-effect waves-dark" href="#" aria-expanded="false" nm="Jobs" action-type="view" action-view-name="Jobs" action-trigger="/Jobs">
        <i class="mdi mdi-briefcase"></i>
        <span class="hide-menu">Jobs</span>
      </a>
    </li>
    <li class="">
      <a class="waves-effect waves-dark" href="#" aria-expanded="false" nm="Products" action-type="view" action-view-name="Products" action-trigger="/Products">
        <i class="mdi mdi-factory"></i>
        <span class="hide-menu">Products</span>
      </a>
    </li>
    <li class="">
      <a class="has-arrow waves-effect waves-dark" href="#Reports" aria-expanded="false" nm="Reports" data-toggle="collapse">
        <i class="mdi mdi-chart-areaspline"></i>
        <span class="hide-menu">Reports</span>
      </a>
      <ul aria-expanded="false" class="collapse" id="Reports">
        <li class="">
          <a href="#" class="" nm="report1" action-type="view" action-view-name="Report1" action-trigger="/report1">Report 1</a>
        </li>
        <li class="">
          <a href="#" class="" nm="report2" action-type="view" action-view-name="Report2" action-trigger="/report2">Report 2</a>
        </li>
      </ul>
    </li>
    <li class="">
      <a class="waves-effect waves-dark" href="/{{{orgName}}}/UM" aria-expanded="false" nm="Employees" action-type="link" action-url="/{{{orgName}}}/UM">
        <i class="mdi mdi-nature-people"></i>
        <span class="hide-menu">Employees</span>
      </a>
    </li>
  </ul>
</nav>
