<div nm="NewJobForm">
  <div data-wrapper="form" class="row">
    <div class="col-12">
      <div class="card">
        <div data-container="" class="card-body">
          <form data-component="form">
            <h4 data-component="formtitle" class="card-title mb-4">New Job</h4>
            <div class="form-row" data-component="form-row">
              <div class="col trillo-col" data-component="col">
                <div data-component="text" class="form-group">
                  <label data-label="" class="">Job Number</label>
                  <input data-field="" type="text" class="form-control" nm="jobNumber">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="text" class="form-group">
                  <label data-label="" class="">Model</label>
                  <input data-field="" type="text" class="form-control" nm="model">
                </div>
              </div>
              <div class="col trillo-col" data-component="col">
                <div data-component="text" class="form-group">
                  <label data-label="" class="">Status</label>
                  <input data-field="" type="text" class="form-control" nm="status1">
                </div>
              </div>
            </div>
            <div data-component="text" class="form-group">
              <label data-label="" class="">Description</label>
              <input data-field="" type="text" class="form-control" nm="name">
            </div>
            <div data-component="text" class="form-group">
              <label data-label="" class="">Customer</label>
              <input data-field="" type="text" class="form-control" nm="customerName">
            </div>
            <div>
              <button data-component="button" type="button" class="btn btn-primary" nm="ok">OK</button>
              <button data-component="button" type="button" class="btn btn-primary" nm="close">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
