<div nm="Options">
  <div data-component="title1" class="row page-titles mx-0">
    <div class="col-6 align-self-center">
      <h3 class="text-themecolor">Options</h3>
    </div>
    <div data-container="" class="col-6 align-self-center text-right "> </div>
  </div>
  <div data-wrapper="table" class="table-responsive">
    <div class="card">
      <div data-container="" class="card-body">
        <table data-component="table" class="table">
          <thead>
            <tr>
              <th>Product Id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Actual Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr data-table-row="">
              <td nm="productId" style="width: 15%;">
                <input data-field="" type="text" class="form-control" nm="productId">
              </td>
              <td data-field="true" nm="productName" style="width: 25%;"></td>
              <td nm="price" style="width: 15%;">
                <input data-field="" type="number" class="form-control" nm="price">
              </td>
              <td nm="qty" style="width: 15%;">
                <input data-field="" type="number" class="form-control" nm="qty">
              </td>
              <td nm="cost" style="width: 15%;">
                <input data-field="" type="number" class="form-control" nm="cost">
              </td>
              <td nm="actualCost" style="width: 15%;">
                <input data-field="" type="number" class="form-control" nm="actualCost">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
