<div class="trillo-application js-application fix-header fix-sidebar card-no-border" nm="Test">
  <header class="topbar w-100" data-reference="header" data-component="view"></header>
  <div data-reference="sidebar" data-component="view" class="left-sidebar"></div>
  <div class="page-wrapper">
    <div class="container-fluid" nm="mainPanel">
      <div class="row trillo-row" data-component="row">
        <div nm="Dashboard" class="w-100" data-reference="Dashboard" data-component="view" data-trigger="/home_"></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Customers" data-component="view" data-trigger="/Customers" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Contacts" data-component="view" data-trigger="/Contacts" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Jobs" data-component="view" data-trigger="/Jobs" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Products" data-component="view" data-trigger="/Products" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Report1" data-component="view" data-trigger="/report1" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Report2" data-component="view" data-trigger="/report2" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="Employees" data-component="view" data-trigger="/Employees" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="JobDetail" data-component="view" data-trigger="/JobDetail" class=""></div>
      </div>
      <div class="row trillo-row" data-component="row">
        <div data-reference="JobTabs" data-component="view" data-trigger="/JobTabs" class=""></div>
      </div>
    </div>
  </div>
</div>
